@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --primary-color-background: rgb(6, 217, 189);
    --primary-color: rgb(8, 219, 191);
    --primary-color-daker: rgb(5, 109, 95);
}
* {
    box-sizing: border-box;
    outline: 0;    
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color-background);
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container {
    max-width: 640px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 15px;
}

form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

form input:focus {
    outline: 1px solid var(--primary-color);
}

form button {
    border: none;
    background: var(--primary-color);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;    
}

form button:hover {
    background: var(--primary-color-daker);
}

.paragrafo-resultado, .bad {
    background: rgb(120, 243, 136);
    padding: 10px 20px;
}

.bad {
    background: rgb(197, 84, 84);
}